body{
    background-color: rgb(194, 253, 255);
    font-family: arial;
}

#container{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}



#title{
    border: 1px solid black;
    width: 597px;  
    height: 154px;
    float: left;
    text-align: center;  
}

#image{
    border: 1px solid black;
    height: 154px;
    width: 198px;  
    float: right;
}


#menu{
    border: 1px solid black;
    width: 798px;
    height: 170px;
    float: left;
}

#sommaire{
    border: 1px solid black;
    width: 798px;
    height: 150px;
    float: left;
}

#body1{
    border: 1px solid black;

    width: 398px;  
    height: 848px;
    float: left;
}
#aside1{
    border: 1px solid black;
    width: 397px;  
    height: 468px;
    float: right;
}
     
#aside2{
    text-align: center;  
    border: 1px solid black;
    width: 397px;  
    height: 198px;
    float: right;
}

#aside3{
    text-align: center;
    border: 1px solid black;
    width: 397px;  
    height: 178px;
    float: right;

}

#virtual__reality{

    float:left;
    width: 198px;  
}



#footer{
    border: 1px solid black;
    height: 330px;
    text-align: center;  
    clear: both;
}

#email{
    float: left;
    margin-left: 70px;
    margin-top: 50px;
}

#facebook{
    float:right;
    margin-right: 100px;
    margin-top: 50px;
}

#message{
    margin-top: 5px;
}

#textarea{
    margin-top: 25px;
}


#button{
    border: 1px solid black;
    margin-left: 40px; 
    width: 150px;  
}